<div id="app">
  Hank is <%= days_old %> days old.

  <form v-on:submit.prevent>
    <input v-model="payload.note.from" type="text" placeholder="From">
    <input v-model="payload.note.body" type="text" placeholder="Body">
    <input type="submit" v-on:click="createNote">
  </form>

  <ul>
    <li v-for="note in notes">
      {{ note.body }} - {{ note.from }}
    </li>
  </ul>

  <hr>

  <pre>{{ $data }}</pre>
</div>
